<% layout("/layouts/boilerplate") %>

<body>
    <p>
        DocMitra is your gateway to accessible,<br> high-quality healthcare, regardless of location. <br> We bridge the gap between patients in underserved areas and <br> licensed medical professionals by providing a secure <br> and convenient telemedicine platform. <br>

Our mission is to empower individuals with <br>remote healthcare solutions, making medical  <br>consultations and follow-ups a seamless experience from the <br>comfort and privacy of your own home. <br>

DocMitra is built on the belief that everyone deserves access to professional medical care. We strive to dismantle geographical barriers and empower patients to take charge of their well-being through virtual consultations with a network of trusted healthcare providers. 

Join DocMitra today and experience a new era of healthcare accessibility.
    </p>
   <div class="mainImg">
    <img src= "Assest/doctor.png" alt="koi photo nahi hai"/>
   </div>
</body>