<% layout("/layouts/boilerplate") %>
<body>
    <h3>Patient Dashboard</h3>
    <a href="/profile">profile</a> <br>
    <a href="/appointment">Apointment</a> <br>
    <a href="/consultant">Consultant</a> <br>
    <a href="/report">Report</a>
</body>
