<% layout("/layouts/boilerplate") %>
<body>
    <h2>Doctor DashBoard</h2>
    <a href="/patient">patient data</a> <br>
    <a href="appoinments">appoinments</a> <br>
    <a href="/Report">Report</a>
</body>
