<% layout("/layouts/boilerplate") %>

<body>
      <div class="card mb-3 mt-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <!-- <img src="https://unsplash.com/photos/a-ram-standing-on-top-of-a-rocky-mountain-dfglhJbc4Uc" alt="" height="1rem" width="2rem"> -->
          </div>
          <div class="col-md-8 ">
            <div class="card-body">
              <h5 class="card-title">Why DocMitra</h5>
              <p class="card-text">
                Your one-stop destination for all your healthcare needs, DocMitra connects you with professional health providers remotely and virtually, regardless of location. DocMitra bridges the gap by providing a convenient and reliable platform to connect with healthcare professionals anytime, anywhere.
                </p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <!-- <img src="https://unsplash.com/photos/a-ram-standing-on-top-of-a-rocky-mountain-dfglhJbc4Uc" alt="" height="1rem" width="2rem"> -->
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Whether Simple or Complex Needs
                Whether it's just a normal consultation, a follow-up appointment, or even a need for a deep diagnosis, DocMitra caters to your healthcare journey. Our platform facilitates a wide range of medical services, ensuring you receive the proper care you deserve.</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
    <h3>Frequently Asked Questions:
    </h3>
      <div class="card">
        <div class="card-header">
            Q. Is telemedicine safe?

        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A. Telemedicine is safe with reputable platforms that adhere to strict privacy and security regulations. DocMitra utilises secure connections and encrypts all patient data to ensure confidentiality.
            </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            Q. What technology do I need for a DocMitra appointment?
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A. A smartphone, tablet, or computer with a webcam and a reliable internet connection is all you need.</p>
           
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            Q. What is telemedicine?
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A. +Telemedicine is the use of technology to deliver healthcare services remotely. This can include video conferencing, phone calls, and secure messaging to connect patients with healthcare professionals..</p>
          
        </div>
      </div>
</body>